<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AvioBileti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=WINDOWS-PC;AttachDbFilename=C:\Users\Windows\Desktop\ITproekt_aviobileti\aviobiletiBaza\aviobileti\aviobileti.mdf;Initial Catalog=aviobiletiBaza;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <AvioBileti.Properties.Settings>
            <setting name="AvioBileti_globalWeather_GlobalWeather" serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </AvioBileti.Properties.Settings>
    </applicationSettings>
</configuration>
